.alert {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  max-width: 90%;
  z-index: 10000;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  padding: 12px 16px;
  border-radius: 8px;
  font-size: clamp(0.85rem, 2.5vw, 1rem);
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  color: white;

  opacity: 0; /* start invisible */
  animation: fadeSlideIn 0.3s ease forwards;
}

.alert-info {
    background: #3a86ff;
}

.alert-success {
    background: #06d6a0;
}

.alert-warning {
    background: #ffb703;
    color: black;
}

.alert-error {
    background: #ef233c;
}

.alert-close {
    background: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: inherit;
    margin-left: 10px;
}



@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px); /* slide down */
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);


  }
}


@media (max-width: 480px) {
    .alert {
        padding: 10px 12px;
        font-size: 0.85rem;
        margin-top: -100px;
    }

    .alert-close {
        font-size: 1rem;
    }
}